name: Static Analysis

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, edited]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  changes:
    name: Changes
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      workflows: ${{ steps.changes.outputs.workflows_any_changed }}
      shellscripts: ${{ steps.changes.outputs.shellscripts_any_changed }}
      dependabot_merge: ${{ steps.changes.outputs.dependabot_merge_any_changed }}
      default_updatecli: ${{ steps.changes.outputs.default_updatecli_any_changed }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
          # fetch-depth: ${{ github.event_name == 'pull_request' && 2 || 0 }}
      - name: Changed Files
        # Attempt to figure out what files have changed
        id: changes
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        with:
          files_yaml: |
            workflows:
              - ".github/workflows/**"
            shellscripts:
              - "**/*.sh"
            dependabot_merge:
              - "dependabot-merge/**"
            default_updatecli:
              - "default-updatecli/**"

  # actionlint as of 1.6.26 only supports workflows (not resuable actions)
  # https://github.com/rhysd/actionlint/pull/366
  # https://github.com/rhysd/actionlint/issues/350
  actionlint:
    name: actionlint
    runs-on: ubuntu-latest
    needs:
      - changes
    permissions:
      contents: write
      pull-requests: write
      checks: write
    if: needs.changes.outputs.workflows == 'true'
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: actionlint
        uses: reviewdog/action-actionlint@83e4ed25b168066ad8f62f5afbb29ebd8641d982 # v1.69.1
        with:
          reporter: github-pr-review
          github_token: ${{ secrets.GITHUB_TOKEN }}
          fail_level: error
          tool_name: actionlint

  shellcheck:
    name: shellcheck
    runs-on: ubuntu-latest
    needs:
      - changes
    permissions:
      contents: write
      pull-requests: write
      checks: write
    if: needs.changes.outputs.shellscripts == 'true'
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: shellcheck
        uses: reviewdog/action-shellcheck@4c07458293ac342d477251099501a718ae5ef86e # v1.32.0
        with:
          reporter: github-pr-review
          github_token: ${{ secrets.GITHUB_TOKEN }}
          check_all_files_with_shebangs: "true"
          fail_level: error

  shfmt:
    name: shfmt
    runs-on: ubuntu-latest
    needs:
      - changes
    permissions:
      contents: read
      pull-requests: write
      checks: write
    if: needs.changes.outputs.shellscripts == 'true'
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: shfmt
        uses: reviewdog/action-shfmt@d8f080930b9be5847b4f97e9f4122b81a82aaeac # v1.0.4
        with:
          fail_on_error: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
          shfmt_flags: -i 2

  dependabot_patch_merge:
    name: merge-untested-actions
    runs-on: ubuntu-latest
    needs:
      - changes
    permissions:
      contents: write
    if: |
      (needs.changes.outputs.dependabot_merge == 'true' ||
      needs.changes.outputs.default_updatecli == 'true') &&
      github.event_name == 'pull_request' &&
      github.actor == 'dependabot[bot]'
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: dispatch
        uses: ./pr-trigger
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          event_type: "pr-untested-actions"
