name: Static Analysis

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, edited]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  reviewdog:
    name: reviewdog
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    outputs:
      dependabot_merge: ${{ steps.changes.outputs.dependabot_merge_any_changed }}
      default_updatecli: ${{ steps.changes.outputs.default_updatecli_any_changed }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
          # fetch-depth: ${{ github.event_name == 'pull_request' && 2 || 0 }}
      - name: Changed Files
        # Attempt to figure out what files have changed
        id: changes
        uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a # v47.0.4
        with:
          files_yaml: |
            workflows:
              - ".github/workflows/**"
            shellscripts:
              - "**/*.sh"
            dependabot_merge:
              - "dependabot-merge/**"
            default_updatecli:
              - "default-updatecli/**"
      # actionlint as of 1.6.26 only supports workflows (not resuable actions)
      # https://github.com/rhysd/actionlint/pull/366
      # https://github.com/rhysd/actionlint/issues/350
      - name: actionlint
        uses: reviewdog/action-actionlint@0d952c597ef8459f634d7145b0b044a9699e5e43 # v1.71.0
        if: steps.changes.outputs.workflows_any_changed == 'true'
        with:
          reporter: github-pr-review
          github_token: ${{ secrets.GITHUB_TOKEN }}
          fail_level: error
      - name: shellcheck
        uses: reviewdog/action-shellcheck@4c07458293ac342d477251099501a718ae5ef86e # v1.32.0
        if: steps.changes.outputs.shellscripts_any_changed == 'true'
        with:
          reporter: github-pr-review
          github_token: ${{ secrets.GITHUB_TOKEN }}
          check_all_files_with_shebangs: "true"
          fail_level: error
      - name: shfmt
        uses: reviewdog/action-shfmt@d8f080930b9be5847b4f97e9f4122b81a82aaeac # v1.0.4
        if: steps.changes.outputs.shellscripts_any_changed == 'true'
        with:
          fail_on_error: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
          shfmt_flags: -i 2

  dependabot_patch_merge:
    name: merge-untested-actions
    runs-on: ubuntu-latest
    needs:
      - reviewdog
    permissions:
      contents: write
    if: |
      (needs.reviewdog.outputs.dependabot_merge == 'true' ||
      needs.reviewdog.outputs.default_updatecli == 'true') &&
      github.event_name == 'pull_request' &&
      github.actor == 'dependabot[bot]'
    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: dispatch
        uses: ./pr-trigger
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          event_type: "pr-untested-actions"
