name: Static Analysis

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  changes:
    name: Changes
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      workflows: ${{ steps.changes.outputs.workflows_any_changed }}
      shellscripts: ${{ steps.changes.outputs.shellscripts_any_changed }}
      dependabot_merge: ${{ steps.changes.outputs.dependabot_merge_any_changed }}
      dependabot_config: ${{ steps.changes.outputs.dependabot_config_any_changed }}
      default_updatecli: ${{ steps.changes.outputs.default_updatecli_any_changed }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
          # fetch-depth: ${{ github.event_name == 'pull_request' && 2 || 0 }}
      - name: Changed Files
        # Attempt to figure out what files have changed
        id: changes
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files_yaml: |
            workflows:
              - ".github/workflows/**"
            shellscripts:
              - "**/*.sh"
            dependabot_merge:
              - "dependabot-merge/**"
            dependabot_config:
              - "generate-dependabot-config/**"
            default_updatecli:
              - "default-updatecli/**"

  commits:
    name: Conventional Commits
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    if: github.event_name == 'pull_request'
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: committed
        uses: crate-ci/committed@bb02f309663f9baced8dbd5fdd80c6369ddf3efd # v1.1.8
        with:
          args: --no-merge-commit

  # actionlint as of 1.6.26 only supports workflows (not resuable actions)
  actionlint:
    name: actionlint
    runs-on: ubuntu-latest
    needs:
      - changes
    permissions:
      contents: write
      pull-requests: write
    if: |
      github.event_name == 'pull_request' &&  needs.changes.outputs.workflows == 'true'
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: actionlint
        uses: reviewdog/action-actionlint@83e4ed25b168066ad8f62f5afbb29ebd8641d982 # v1.69.1
        with:
          reporter: github-pr-review
          fail_on_error: true
          tool_name: actionlint
          github_token: ${{ secrets.GITHUB_TOKEN }}

  shellcheck:
    name: shellcheck
    runs-on: ubuntu-latest
    needs:
      - changes
    permissions:
      contents: write
      pull-requests: write
    if: |
      github.event_name == 'pull_request' &&  needs.changes.outputs.shellscripts == 'true'
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false        
      - name: shellcheck
        uses: reviewdog/action-shellcheck@4c07458293ac342d477251099501a718ae5ef86e # v1.32.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          pattern: |
            *.sh

  dependabot_patch_merge:
    name: merge-untested-actions
    runs-on: ubuntu-latest
    needs:
      - changes
    permissions:
      contents: write
    if: |
      (needs.changes.outputs.dependabot_merge == 'true' ||
      needs.changes.outputs.dependabot_config == 'true' ||
      needs.changes.outputs.default_updatecli == 'true') &&
      github.event_name == 'pull_request' &&
      github.actor == 'dependabot[bot]'
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false        
      - name: dispatch
        uses: ./pr-trigger
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          event_type: "pr-untested-actions"
