name: Update documentation

on:
  push:
    branches:
      - main

defaults:
  run:
    shell: bash

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PR_GITHUB_USER: qe-repo-updater[bot] <152897211+qe-repo-updater[bot]@users.noreply.github.com>

jobs:
  autodoc:
    name: autodoc
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Setup autodoc
        uses: action-stars/install-tool-from-github-release@1fa61c3bea52eca3bcdb1f5c961a3b113fe7fa54 # v0.2.6
        with:
          github_token: ${{ github.token }}
          owner: tj-actions
          repository: auto-doc
          arch_amd64: x86_64
          os_linux: Linux
          check_command: auto-doc --help
          version: latest

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Get Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.WORKFLOW_UPDATE_APP_ID }}
          private-key: ${{ secrets.WORKFLOW_UPDATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: "${{ github.event.repository.name}}"

      - name: Run auto-doc
        run: |
          #!/usr/bin/env bash

          ACTIONS="$(find . -name action.yml)"
          while IFS= read -r action; do
            readme="$(dirname "$action")/README.md"
            auto-doc --colMaxWords 100 --filename "$action" --output "$readme"
          done <<<"$ACTIONS"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          token: ${{ steps.app-token.outputs.token }}
          committer: ${{ env.PR_GITHUB_USER }}
          author: ${{ env.PR_GITHUB_USER }}
          commit-message: "docs: update action documentation"
          branch: doc/action-autodoc
          title: "docs: update action documentation"
          body: |
            [auto-doc](https://github.com/tj-actions/auto-doc) made some changes to various README.md files

            Automated changes by [Workflow Run](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}).
