name: dependabot-pr
run-name: Assess PR (${{ github.event.client_payload.detail.pull_request }}) - ${{ github.event.action }}
on:
  repository_dispatch:
    types:
      - pr-trigger
      - pr-issue-comment-test-success
      - pr-commit-status-test-success
      - pr-docker-image-builder-test-success
      - pr-repo-dispatch-test-success
      - pr-untested-actions

permissions:
  contents: write
  pull-requests: write
  issues: write
  statuses: write

jobs:
  actions_merge:
    runs-on: ubuntu-latest
    name: Dependabot Merge
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false        
          ref: ${{ github.event.client_payload.base.ref }}
          fetch-depth: 0
      - name: "Prepare"
        id: prepare
        run: |
          case "${{ github.event.action }}" in
            pr-issue-comment-test-success)
              echo 'change_filter=pr-or-issue-comment/**' >> "$GITHUB_OUTPUT"
              echo 'automerge_level=semver-patch' >> "$GITHUB_OUTPUT"
              echo 'merge_context=PR or issue comment tests passed' >> "$GITHUB_OUTPUT"
              ;;
            pr-commit-status-test-success)
              echo 'change_filter=commit-status-and-label/**' >> "$GITHUB_OUTPUT"
              echo 'automerge_level=semver-patch' >> "$GITHUB_OUTPUT"
              echo 'merge_context=Commit Status & Label Tests passed' >> "$GITHUB_OUTPUT"
              ;;
            pr-docker-image-builder-test-success)
              echo 'change_filter=docker-image-builder/**' >> "$GITHUB_OUTPUT"
              echo 'automerge_level=semver-patch' >> "$GITHUB_OUTPUT"
              echo 'merge_context=Docker image builder tests passed' >> "$GITHUB_OUTPUT"
              ;;
            pr-repo-dispatch-test-success)
              echo 'change_filter=repo-dispatch/**' >> "$GITHUB_OUTPUT"
              echo 'automerge_level=semver-patch' >> "$GITHUB_OUTPUT"
              echo 'merge_context=Repo Dispatch tests passed' >> "$GITHUB_OUTPUT"
              ;;
            pr-untested-actions)
              echo 'change_filter=dependabot-merge/**,default-updatecli/**,generate-dependabot-config/**' >> "$GITHUB_OUTPUT"
              echo 'automerge_level=semver-patch' >> "$GITHUB_OUTPUT"
              echo 'merge_context=Updates to actions that have no tests :frowning:' >> "$GITHUB_OUTPUT"
              ;;
            *)
              echo 'change_filter=.github/workflows/**' >> "$GITHUB_OUTPUT"
              echo 'automerge_level=semver-patch|semver-minor' >> "$GITHUB_OUTPUT"
              echo 'merge_context=Updates to workflows in this repo' >> "$GITHUB_OUTPUT"
              ;;
          esac
      - name: "Create Token"
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: ${{ vars.WORKFLOW_UPDATE_APP_ID }}
          private-key: ${{ secrets.WORKFLOW_UPDATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: "${{ github.event.repository.name}}"
      - name: Dependabot Merge
        id: dependabot_merge
        uses: ./dependabot-merge
        with:
          token: ${{ steps.app-token.outputs.token }}
          automerge_level: ${{ steps.prepare.outputs.automerge_level }}
          change_filter: ${{ steps.prepare.outputs.change_filter }}
          merge_commentary: ${{ steps.prepare.outputs.merge_context }}
          filter_separator: ","
