name: pr-trigger
run-name: PR Build Trigger
on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  dispatch:
    permissions:
      contents: write
      pull-requests: read
    runs-on: ubuntu-latest
    name: PR Trigger
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false        
      - name: dispatch
        uses: ./pr-trigger
