name: pr-trigger
run-name: PR Build Trigger
on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  dispatch:
    permissions:
      contents: write
      pull-requests: read
    runs-on: ubuntu-latest
    name: PR Trigger
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false        
      - name: dispatch
        uses: ./pr-trigger
