name: test-repo-dispatch

on:
  push:
    paths:
      - "repo-dispatch/**"
      - ".github/workflows/test-repo-dispatch.yml"
      - ".github/workflows/test-repo-dispatch-listener.yml"
  pull_request:
    branches:
      - main
    paths:
      - "repo-dispatch/**"
      - ".github/workflows/test-repo-dispatch.yml"
      - ".github/workflows/test-repo-dispatch-listener.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  test-dispatch:
    name: test-dispatch-event
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write
      statuses: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false        
      - name: Update Status
        id: check_pending
        uses: ./commit-status-and-label
        if: github.event_name == 'pull_request'
        with:
          token: ${{ github.token }}
          sha:  ${{ github.event.pull_request.head.sha || github.event.workflow_run.head_sha || github.sha }}
          state: "pending"
      - name: dispatch
        id: dispatch
        uses: ./repo-dispatch
        with:
          event_type: test-dispatch
          token: ${{ secrets.GITHUB_TOKEN }}
          sha: ${{ github.event.pull_request.head.sha || github.event.workflow_run.head_sha || github.sha }}
          ref: ${{ github.head_ref || github.ref }}
          event_detail: |
            {
              "jobname": "test-dispatch"
            }

  notification:
    name: notification
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs:
      - test-dispatch
    if: |
      github.event_name == 'pull_request'
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false        
      - name: dispatch
        uses: ./pr-trigger
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          event_type: "pr-repo-dispatch-test-success"